<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <center>
        <div class="vert_cen">
            <div class="container">
                <h1 style="color: white;">Login to YUMMY IN MY TUMMY</h1>
            </div>
            <div class="container">
                <table>
                    <thead></thead>
                    <tbody>
                        <form action="/login" method="post">
                            <tr aria-colspan="10">
                                <td style="width: 30px;">
                                    <label for="name" style="color: black; font-size: x-large;"><b>Username: </b></label>
                                </td>
                                <td style="width: 30px;">
                                    <input id="username" type="text" placeholder="Enter Username..." name="username" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="password" style="color: black; font-size: x-large;"><b>Password: </b></label>
                                </td>
                                <td>
                                    <input id="password" type="password" placeholder="Enter Password..." name="password" required>
                                </td>
                            </tr>
                            <tr>
                                <r c="2">
                                    <td></td>
                                </r>
                                <td>
                                    <input type="checkbox" id="remember_me" name="remember">
                                    <nbsp>Remember me
                                </td>
                            </tr>
                            <tr aria-rowspan="4">
                                <td>
                                    <button type="submit" id="login" name="login">Login</button>
                                </td>
                                <td>
                                    <button type="submit" id="sign_up" name="sign_up">Sign Up</button>


                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="button" id="cancel" name="cancel" class="cancelbtn">Cancel</button>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </center>
    <center>
        <div class="pop" id="pop">
            <div class="pop_con">
                <span class="close">&times;</span>
                <table>
                    <thead></thead>
                    <tbody>
                        <form action="/signup" method="post">
                            <tr aria-colspan="5">
                                <td style="width: 30px;">
                                    <label for="fname" style="color: black; font-size: x-large;"><b>Full Name: </b></label>
                                </td>
                                <td style="width: 30px;">
                                    <input id="fname" type="text" placeholder="Enter Full Name..." name="fname" required>
                                </td>
                            </tr>
                            <tr aria-rowspan="5">
                                <td style="width: 30px;">
                                    <label for="uname" style="color: black; font-size: x-large;"><b>Username: </b></label>
                                </td>
                                <td style="width: 30px;">
                                    <input id="uname" type="text" placeholder="Enter Username..." name="uname" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="psw" style="color: black; font-size: x-large;"><b>Password: </b></label>
                                </td>
                                <td>
                                    <input id="psw" type="password" placeholder="Enter Password..." name="psw" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" id="create_account" name="create_account" class="create_account">Create Account</button>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </center>
    <script>
        var popup = document.getElementById("pop");

        var btn = document.getElementById("sign_up");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            popup.style.display = "block";
        }

        span.onclick = function() {
            popup.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == popup) {
                popup.style.display = "none";
            }
        }
    </script>
    <style>
        .bottom {
            position: fixed;
            bottom: 0;
        }
        
        img {
            border: 4px solid #fefefe;
            height: 150px;
        }
    </style>
    <div class="bottom">
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="f1.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="f2.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="f3.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="f4.jpg"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="f5.jpg">
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>